@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

body {
    height: 100vh;
    font-family: 'Rubik', sans-serif;
}

.pattern-background {
    width: 100%;
    height: 37.5%;
    background: url(../images/pattern-bg-mobile.png) no-repeat top left;background-size: cover;
}

#map {
    height: 62.5%;
    z-index: 2;
}

main {
    position: relative;
    top: -98%;
    z-index: 100;
    text-align: center;
}

h1 {
    font-size: 26px;
    color: rgb(255, 255, 255);
    font-weight: normal;
    margin-bottom: 20px;
}

form {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input, button {
    outline: none;
    border: none;
    padding: 15px;
}

input {
    border-radius: 10px 0px 0px 10px;
    width: 78%;
    font-size: 18px;
}

button {
    border-radius: 0px 10px 10px 0px;
    width: 12%;
    background-color: hsl(0, 0%, 17%);
}

button:hover {
    background-color: hsl(0, 0%, 59%);
}

ul {
    width: 90%;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 10px;
    border-radius: 15px;
}

li {
    margin: 15px 0px;
}

h2 {
    font-size: 10px;
    color: hsl(0, 0%, 59%);
    letter-spacing: 2px;
    margin-bottom: 5px;
}

p {
    font-weight: bold;
    font-size: 20px;
}